data/*
target/*
serialised_data/*2016.bin
serialised_data/*2017.bin
serialised_data/*2018.bin
serialised_data/*2019.bin
serialised_data/*2020.bin
serialised_data/*2021.bin
serialised_data/.ipynb_checkpoints/*
